$font-stack: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana,
  sans-serif;
$link-color: #08c;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-stack;
  color: #fff;
}

ul {
  list-style: none;
}

a {
  color: $link-color;
  text-decoration: none;
}

.header-nav {
  position: relative;
  top: 18px;
  height: 36px;
  width: 980px;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0) 97%,
      rgba(0, 0, 0, 0.45)
    ),
    linear-gradient(to top, #666, #5e5e5e 50%, #707070 51%, #808080);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  margin: 0 auto;

  ul {
    display: flex;
    align-items: center;
    height: 36px;
    width: 845px;

    li {
      flex: 1;
      height: 36px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        width: 100%;
        color: #fff;
        font-size: 13px;
        text-align: center;
        border-style: solid;
        border-width: 0 2px 0 0;
        border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D")
          0 2 0 1;
      }
    }

    li:first-child a {
      background: url("https://images.apple.com/global/nav/images/globalnav_text.svg")
        no-repeat 50% 2px;
    }
  }

  .search {
    position: absolute;
    top: 0;
    right: 0;
    width: 132px;
    padding: 8px 13px;

    input {
      height: 19px;
      width: 100%;
      padding: 2px 18px 1px 22px;
      border-radius: 12px;
      background: none;
      outline: none;
    }
  }
}
